.description__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 3rem;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.1);
}

.description__count {
  font-weight: 200;
  margin-left: 10px;
  opacity: 0.6;
  line-height: 0;
}

.description__completed {
  all: unset;
  margin-right: 10px;
  opacity: 0.6;
  font-weight: 200;
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .description__container {
    max-width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .description__container {
    max-width: 90%;
  }
}
