.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0 auto;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  color: #473a51;
  border-top: 1px solid rgba(84, 84, 84, 0.7);
}

.footer__copywrite {
  opacity: 0.8;
  margin: 0;
  transition: opacity 0.2s;
}

.footer__copywrite:hover {
  opacity: 1;
}

.footer__link-github {
  text-decoration: none;
  color: #473a51;
  opacity: 0.8;
  margin: 0;
  transition: opacity 0.2s;
}

.footer__link-github:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .footer__copywrite {
    margin-left: 20px;
  }

  .footer__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    padding-top: 20px;
  }

  .footer__copywrite {
    margin-left: 0;
  }

  .footer__link {
    margin-right: 0;
  }
}
