.page {
  background-color: #161722;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-style: normal;
}

.page__content {
  color: #fff;
  max-width: 880px;
  margin: 0 auto;
}
