.tasks__list {
  list-style: none;
  padding: 0;
}

.tasks__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 3rem;
  margin: 0 auto;
  background-color: rgba(240, 248, 255, 0.1);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.tasks__checkbox {
  width: 20px;
  height: auto;
  opacity: 0.5;
  margin-left: 10px;
  margin-right: 20px;
  transition: opacity 0.2s;
  filter: brightness(0) saturate(100%) invert(100%) sepia(32%) saturate(86%)
    hue-rotate(327deg) brightness(109%) contrast(85%);
}

.tasks__checkbox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tasks__checkbox-checked {
  text-decoration: line-through;
  filter: brightness(0) saturate(100%) invert(47%) sepia(58%) saturate(465%)
    hue-rotate(96deg) brightness(90%) contrast(90%);
}

.tasks__title {
  line-height: 0;
  font-weight: 400;
  letter-spacing: 0.4px;
  opacity: 0.6;
}

.tasks__delete {
  all: unset;
  opacity: 0.5;
  font-size: 1.8rem;
  font-weight: 200;
  margin-left: auto;
  margin-right: 10px;
  transition: opacity 0.2s, color 0.2s;
}

.tasks__delete:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #b33737;
}

@media screen and (max-width: 768px) {
  .tasks__container {
    max-width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .tasks__container {
    max-width: 90%;
  }
}
